.div1{
    height: 70px;
    width: 99%;
    border: 10px solid black;
    border-radius: 30px;
    background-color:black;
    position: relative;
}
#div2{
    height: 60px;
    margin-left: 5px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background-color: white;
     
}
nav{
    height: 60px;
    width: 400px;
    position: absolute;
    top: 1px;
    right: 45px;
    
}
li{
    display: inline-block;
    color: black;
     font-size: x-large;
     margin-right: 10px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: white;
      
}
.box{
    height: 40px;
    width: 100px;
    background-color: rgb(255, 0, 157);
    border-radius: 20px;
    text-align: center;

}
 